<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Q</title>
    <link rel="stylesheet" href="style.css">
    <!-- Thêm axios từ CDN -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script> -->
</head>
<body>
    <div class="container">
        <div id="orders-container" class="orders-container" style="display: none;">
            <h2>Danh sách đơn hàng</h2>
            <button onclick="logout()">Đăng xuất</button>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Tổng tiền</th>
                        <th>Ngày tạo</th>
                        <th>Tên khách hàng</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody id="orders-list"></tbody>
            </table>
            <p id="orders-message"></p>
        </div>
    </div>

    <script src="app.js"></script>
</body>
</html>